In [1]:
# =====================================
# 1. INSTALL & START MYSQL
# =====================================

!apt-get update
!apt-get install -y mysql-server
!service mysql start

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:2 https://cli.github.com/packages stable InRelease [3,917 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:6 https://cli.github.com/packages stable/main amd64 Packages [354 B]
Get:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:10 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,637 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:12 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [38.5 kB]
Get:13 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,870 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [69.2 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,968 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [6,205 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,600 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [6,411 kB]
Get:19 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,289 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-backports/main amd64 Packages [83.9 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [37.2 kB]
Get:22 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,623 kB]
Fetched 36.2 MB in 4s (8,146 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libaio1 libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server-8.0
  mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl
  mailx tinyca
The following NEW packages will be installed:
  libaio1 libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server mysql-server-8.0
  mysql-server-core-8.0
0 upgraded, 26 newly installed, 0 to remove and 51 not upgraded.
Need to get 29.7 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [2,707 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [22.6 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libaio1 amd64 0.3.112-13build1 [7,176 B]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.4 [209 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [17.7 MB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [1,449 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi0ldbl amd64 2.4.2-2ubuntu0.1 [28.1 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi-bin amd64 2.4.2-2ubuntu0.1 [11.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:25 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:26 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.44-0ubuntu0.22.04.2 [9,460 B]
Fetched 29.7 MB in 4s (7,329 kB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 117528 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package libaio1:amd64.
Preparing to unpack .../02-libaio1_0.3.112-13build1_amd64.deb ...
Unpacking libaio1:amd64 (0.3.112-13build1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../03-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../04-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.4_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.4) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../05-mysql-server-core-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../06-mysql-server-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../07-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../08-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../09-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../10-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../11-libfcgi0ldbl_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../12-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../13-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../14-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../15-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../16-libfcgi-bin_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../17-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../18-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../19-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../20-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../21-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../22-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../23-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../24-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../25-mysql-server_8.0.44-0ubuntu0.22.04.2_all.deb ...
Unpacking mysql-server (8.0.44-0ubuntu0.22.04.2) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2ubuntu0.1) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.4) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-client-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up libaio1:amd64 (0.3.112-13build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mysql-server-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server-8.0 (8.0.44-0ubuntu0.22.04.2) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 1539
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up mysql-server (8.0.44-0ubuntu0.22.04.2) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.11) ...
/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero_v2.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [2]:
# =====================================
# 2. INSTALL MYSQL CONNECTOR
# =====================================

!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 60.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [3]:
# =====================================
# 3. SET MYSQL ROOT PASSWORD
# =====================================

!sudo mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"

In [4]:
# =====================================
# 4. CONNECT PYTHON TO MYSQL
# =====================================

import mysql.connector
import random
from datetime import date, timedelta

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)

cur = db.cursor()

In [5]:
# =====================================
# 5. CREATE DATABASE
# =====================================

cur.execute("create database if not exists schema_demo")
cur.execute("use schema_demo")

In [6]:
# =====================================
# 6. CREATE TABLE (TABLES + FIELDS + CONSTRAINTS)
# =====================================

cur.execute("""
create table student (
    student_id int primary key,
    name varchar(100) not null,
    gender varchar(10),
    dob date,
    phone varchar(15) unique,
    city varchar(50)
)
""")

In [7]:
# =====================================
# 7. INDIAN NAME DATA
# =====================================

male_names = [
    "Amit","Rahul","Arjun","Rohit","Vikas","Suresh","Ankit","Kunal","Ravi","Aditya"
]

female_names = [
    "Neha","Pooja","Anjali","Kavya","Riya","Priya","Sneha","Aarti","Nisha","Isha"
]

surnames = [
    "Sharma","Verma","Gupta","Singh","Patel","Kumar","Mehta","Reddy","Iyer","Das"
]

cities = [
    "Delhi","Mumbai","Bengaluru","Chennai","Kolkata",
    "Hyderabad","Pune","Jaipur","Indore","Lucknow"
]

In [8]:
# =====================================
# 8. FUNCTION TO GENERATE RANDOM DOB
# =====================================

def random_dob():
    start = date(1990, 1, 1)
    end = date(2010, 12, 31)
    return start + timedelta(days=random.randint(0, (end - start).days))

In [9]:
# =====================================
# 9. INSERT 1000 INDIAN STUDENT RECORDS
# =====================================

students = []

for i in range(1, 1001):
    gender = random.choice(["Male", "Female"])

    if gender == "Male":
        fname = random.choice(male_names)
    else:
        fname = random.choice(female_names)

    full_name = fname + " " + random.choice(surnames)
    phone = "9" + str(random.randint(100000000, 999999999))
    city = random.choice(cities)
    dob = random_dob()

    students.append((i, full_name, gender, dob, phone, city))

cur.executemany(
    "insert into student values (%s,%s,%s,%s,%s,%s)",
    students
)

db.commit()

In [10]:
# =====================================
# 10. DISPLAY ALL TABLES
# =====================================

print("TABLES IN DATABASE:")
cur.execute("show tables")
for t in cur:
    print(t)

TABLES IN DATABASE:
('student',)

In [11]:
# =====================================
# 11. DISPLAY STRUCTURE (FIELDS)
# =====================================

print("\nSTUDENT TABLE STRUCTURE:")
cur.execute("desc student")
for r in cur:
    print(r)

STUDENT TABLE STRUCTURE:
('student_id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(100)', 'NO', '', None, '')
('gender', 'varchar(10)', 'YES', '', None, '')
('dob', 'date', 'YES', '', None, '')
('phone', 'varchar(15)', 'YES', 'UNI', None, '')
('city', 'varchar(50)', 'YES', '', None, '')

In [12]:
# =====================================
# 12. DISPLAY ALL 1000 RECORDS
# =====================================

print("\nDISPLAYING 1000 INDIAN STUDENT RECORDS:\n")
cur.execute("select * from student")

for row in cur:
    print(row)


print("\n✅ 1000 Indian records displayed successfully")

DISPLAYING 1000 INDIAN STUDENT RECORDS:

(1, 'Anjali Mehta', 'Female', datetime.date(2008, 3, 15), '9144072496', 'Indore')
(2, 'Priya Verma', 'Female', datetime.date(1993, 3, 26), '9598775556', 'Chennai')
(3, 'Sneha Gupta', 'Female', datetime.date(1991, 2, 11), '9650243139', 'Lucknow')
(4, 'Aarti Kumar', 'Female', datetime.date(1998, 10, 18), '9706186124', 'Lucknow')
(5, 'Sneha Das', 'Female', datetime.date(2001, 1, 22), '9470922138', 'Chennai')
(6, 'Aditya Singh', 'Male', datetime.date(2007, 8, 24), '9839730146', 'Kolkata')
(7, 'Ankit Patel', 'Male', datetime.date(2005, 9, 8), '9858431264', 'Indore')
(8, 'Aarti Kumar', 'Female', datetime.date(2005, 9, 10), '9468566279', 'Mumbai')
(9, 'Amit Gupta', 'Male', datetime.date(1997, 8, 17), '9177800893', 'Jaipur')
(10, 'Sneha Sharma', 'Female', datetime.date(1998, 7, 26), '9224095566', 'Mumbai')
(11, 'Nisha Das', 'Female', datetime.date(2009, 8, 14), '9550267577', 'Jaipur')
(12, 'Sneha Singh', 'Female', datetime.date(2008, 11, 10), '9238280273', 'Chennai')
(13, 'Neha Das', 'Female', datetime.date(1998, 8, 2), '9657293696', 'Bengaluru')
(14, 'Amit Kumar', 'Male', datetime.date(2007, 4, 23), '9793394708', 'Indore')
(15, 'Vikas Reddy', 'Male', datetime.date(2001, 6, 12), '9323626475', 'Pune')
(16, 'Ankit Singh', 'Male', datetime.date(2003, 3, 28), '9973322356', 'Hyderabad')
(17, 'Pooja Mehta', 'Female', datetime.date(1996, 3, 6), '9843834633', 'Pune')
(18, 'Pooja Mehta', 'Female', datetime.date(2005, 9, 9), '9821014076', 'Indore')
(19, 'Kavya Sharma', 'Female', datetime.date(2006, 2, 21), '9489196400', 'Lucknow')
(20, 'Aditya Iyer', 'Male', datetime.date(2001, 1, 21), '9213750673', 'Bengaluru')
(21, 'Vikas Sharma', 'Male', datetime.date(1994, 8, 24), '9120196892', 'Delhi')
(22, 'Vikas Das', 'Male', datetime.date(2010, 10, 24), '9707079880', 'Mumbai')
(23, 'Priya Mehta', 'Female', datetime.date(1991, 7, 3), '9394257570', 'Kolkata')
(24, 'Pooja Sharma', 'Female', datetime.date(2007, 3, 7), '9684320600', 'Kolkata')
(25, 'Rohit Sharma', 'Male', datetime.date(2010, 2, 24), '9347301708', 'Pune')
(26, 'Anjali Mehta', 'Female', datetime.date(1998, 12, 15), '9286386774', 'Pune')
(27, 'Aditya Reddy', 'Male', datetime.date(2006, 7, 6), '9821486566', 'Indore')
(28, 'Pooja Das', 'Female', datetime.date(2004, 7, 23), '9101102821', 'Kolkata')
(29, 'Suresh Das', 'Male', datetime.date(1996, 11, 21), '9241884054', 'Lucknow')
(30, 'Riya Verma', 'Female', datetime.date(2009, 2, 26), '9726777032', 'Pune')
(31, 'Ankit Iyer', 'Male', datetime.date(2004, 2, 4), '9302774240', 'Jaipur')
(32, 'Amit Das', 'Male', datetime.date(1991, 5, 23), '9121598463', 'Chennai')
(33, 'Rohit Verma', 'Male', datetime.date(1999, 12, 19), '9371944255', 'Jaipur')
(34, 'Suresh Kumar', 'Male', datetime.date(2000, 6, 7), '9884886925', 'Hyderabad')
(35, 'Ravi Verma', 'Male', datetime.date(1997, 4, 21), '9430840044', 'Lucknow')
(36, 'Arjun Singh', 'Male', datetime.date(1994, 6, 26), '9635329404', 'Mumbai')
(37, 'Suresh Kumar', 'Male', datetime.date(1991, 6, 3), '9898019277', 'Mumbai')
(38, 'Riya Sharma', 'Female', datetime.date(2005, 9, 1), '9696394657', 'Lucknow')
(39, 'Neha Singh', 'Female', datetime.date(2007, 12, 24), '9471934385', 'Chennai')
(40, 'Nisha Verma', 'Female', datetime.date(1995, 3, 30), '9198358558', 'Bengaluru')
(41, 'Kunal Patel', 'Male', datetime.date(2004, 3, 2), '9119980363', 'Mumbai')
(42, 'Anjali Iyer', 'Female', datetime.date(1998, 2, 7), '9335967153', 'Pune')
(43, 'Anjali Patel', 'Female', datetime.date(1996, 4, 27), '9447228696', 'Chennai')
(44, 'Kunal Kumar', 'Male', datetime.date(1998, 1, 12), '9663785008', 'Jaipur')
(45, 'Amit Mehta', 'Male', datetime.date(1997, 8, 26), '9915483959', 'Lucknow')
(46, 'Priya Reddy', 'Female', datetime.date(1996, 9, 7), '9909369255', 'Hyderabad')
(47, 'Ravi Mehta', 'Male', datetime.date(1999, 9, 1), '9982062228', 'Pune')
(48, 'Amit Iyer', 'Male', datetime.date(1995, 4, 11), '9106149347', 'Chennai')
(49, 'Kavya Das', 'Female', datetime.date(2000, 3, 17), '9638560814', 'Mumbai')
(50, 'Aarti Reddy', 'Female', datetime.date(2006, 12, 13), '9974896488', 'Lucknow')
(51, 'Nisha Kumar', 'Female', datetime.date(2010, 11, 3), '9760374665', 'Lucknow')
(52, 'Aditya Iyer', 'Male', datetime.date(2005, 4, 7), '9244290032', 'Delhi')
(53, 'Suresh Iyer', 'Male', datetime.date(1992, 2, 12), '9220632239', 'Lucknow')
(54, 'Riya Kumar', 'Female', datetime.date(1990, 3, 30), '9665018994', 'Mumbai')
(55, 'Isha Singh', 'Female', datetime.date(2010, 5, 9), '9517902838', 'Indore')
(56, 'Priya Reddy', 'Female', datetime.date(2007, 7, 18), '9733327254', 'Lucknow')
(57, 'Aditya Das', 'Male', datetime.date(1997, 4, 21), '9869557747', 'Indore')
(58, 'Rahul Sharma', 'Male', datetime.date(2000, 2, 5), '9177538509', 'Indore')
(59, 'Rohit Mehta', 'Male', datetime.date(1993, 7, 19), '9808127456', 'Jaipur')
(60, 'Nisha Sharma', 'Female', datetime.date(2001, 7, 27), '9257091157', 'Kolkata')
(61, 'Nisha Mehta', 'Female', datetime.date(2009, 7, 23), '9685247596', 'Jaipur')
(62, 'Aarti Singh', 'Female', datetime.date(2003, 7, 23), '9675615554', 'Jaipur')
(63, 'Neha Iyer', 'Female', datetime.date(1993, 3, 4), '9391785262', 'Lucknow')
(64, 'Pooja Gupta', 'Female', datetime.date(2005, 1, 15), '9702319815', 'Chennai')
(65, 'Nisha Mehta', 'Female', datetime.date(1993, 5, 9), '9241064817', 'Chennai')
(66, 'Ravi Iyer', 'Male', datetime.date(1996, 2, 13), '9282669138', 'Bengaluru')
(67, 'Riya Patel', 'Female', datetime.date(2005, 2, 13), '9226768125', 'Delhi')
(68, 'Vikas Mehta', 'Male', datetime.date(2007, 7, 25), '9595749591', 'Kolkata')
(69, 'Anjali Das', 'Female', datetime.date(2003, 8, 13), '9359197205', 'Kolkata')
(70, 'Priya Verma', 'Female', datetime.date(2006, 5, 3), '9252569729', 'Jaipur')
(71, 'Ankit Das', 'Male', datetime.date(1998, 5, 7), '9534798777', 'Delhi')
(72, 'Rahul Iyer', 'Male', datetime.date(1999, 3, 5), '9800432919', 'Lucknow')
(73, 'Amit Sharma', 'Male', datetime.date(2002, 3, 5), '9108430034', 'Pune')
(74, 'Riya Das', 'Female', datetime.date(2001, 1, 25), '9438194160', 'Jaipur')
(75, 'Anjali Reddy', 'Female', datetime.date(1995, 6, 3), '9467691492', 'Mumbai')
(76, 'Isha Kumar', 'Female', datetime.date(2007, 4, 12), '9786073602', 'Mumbai')
(77, 'Sneha Singh', 'Female', datetime.date(1995, 1, 27), '9363056990', 'Bengaluru')
(78, 'Priya Mehta', 'Female', datetime.date(2005, 7, 12), '9356900511', 'Lucknow')
(79, 'Suresh Verma', 'Male', datetime.date(2005, 10, 23), '9818996248', 'Pune')
(80, 'Ravi Reddy', 'Male', datetime.date(1997, 4, 2), '9694295543', 'Indore')
(81, 'Neha Sharma', 'Female', datetime.date(1993, 10, 21), '9441353685', 'Delhi')
(82, 'Riya Mehta', 'Female', datetime.date(2004, 5, 21), '9926821120', 'Pune')
(83, 'Isha Kumar', 'Female', datetime.date(2002, 5, 31), '9527617568', 'Delhi')
(84, 'Rahul Verma', 'Male', datetime.date(2006, 3, 1), '9850170765', 'Delhi')
(85, 'Rohit Patel', 'Male', datetime.date(2005, 2, 12), '9266339733', 'Bengaluru')
(86, 'Pooja Reddy', 'Female', datetime.date(2000, 6, 14), '9472352613', 'Lucknow')
(87, 'Rohit Gupta', 'Male', datetime.date(2002, 11, 19), '9938167930', 'Hyderabad')
(88, 'Pooja Das', 'Female', datetime.date(2003, 8, 14), '9155874611', 'Kolkata')
(89, 'Priya Das', 'Female', datetime.date(1995, 11, 13), '9225366403', 'Bengaluru')
(90, 'Priya Reddy', 'Female', datetime.date(1994, 4, 20), '9570864386', 'Kolkata')
(91, 'Amit Patel', 'Male', datetime.date(2003, 10, 17), '9141945594', 'Lucknow')
(92, 'Rohit Patel', 'Male', datetime.date(1991, 1, 4), '9528430524', 'Lucknow')
(93, 'Kunal Mehta', 'Male', datetime.date(1991, 6, 7), '9888536717', 'Pune')
(94, 'Priya Patel', 'Female', datetime.date(2008, 9, 24), '9682806343', 'Hyderabad')
(95, 'Amit Das', 'Male', datetime.date(2004, 9, 26), '9609267786', 'Indore')
(96, 'Isha Iyer', 'Female', datetime.date(2001, 4, 9), '9442683110', 'Bengaluru')
(97, 'Isha Reddy', 'Female', datetime.date(1999, 3, 14), '9139371658', 'Mumbai')
(98, 'Anjali Das', 'Female', datetime.date(2008, 10, 1), '9383175490', 'Indore')
(99, 'Anjali Singh', 'Female', datetime.date(2002, 3, 27), '9285160572', 'Lucknow')
(100, 'Kunal Das', 'Male', datetime.date(2008, 11, 9), '9826819369', 'Bengaluru')
(101, 'Nisha Verma', 'Female', datetime.date(2001, 7, 4), '9931008575', 'Chennai')
(102, 'Ravi Gupta', 'Male', datetime.date(2000, 3, 8), '9449911338', 'Kolkata')
(103, 'Vikas Verma', 'Male', datetime.date(2009, 10, 28), '9416876787', 'Bengaluru')
(104, 'Suresh Mehta', 'Male', datetime.date(2000, 3, 30), '9120455364', 'Jaipur')
(105, 'Vikas Iyer', 'Male', datetime.date(2001, 8, 6), '9581816334', 'Lucknow')
(106, 'Isha Sharma', 'Female', datetime.date(2006, 10, 7), '9763359685', 'Hyderabad')
(107, 'Arjun Verma', 'Male', datetime.date(2003, 12, 15), '9435260433', 'Delhi')
(108, 'Neha Singh', 'Female', datetime.date(1990, 11, 10), '9440640508', 'Mumbai')
(109, 'Rohit Mehta', 'Male', datetime.date(1999, 12, 9), '9659391796', 'Delhi')
(110, 'Priya Patel', 'Female', datetime.date(2007, 6, 21), '9939220782', 'Indore')
(111, 'Ankit Verma', 'Male', datetime.date(2004, 6, 13), '9838490243', 'Mumbai')
(112, 'Ankit Verma', 'Male', datetime.date(2006, 7, 17), '9135365812', 'Lucknow')
(113, 'Suresh Singh', 'Male', datetime.date(2010, 8, 24), '9171600518', 'Pune')
(114, 'Aarti Iyer', 'Female', datetime.date(1999, 10, 13), '9496148215', 'Delhi')
(115, 'Kunal Sharma', 'Male', datetime.date(2005, 7, 17), '9718289189', 'Lucknow')
(116, 'Kavya Kumar', 'Female', datetime.date(2003, 7, 26), '9638651069', 'Chennai')
(117, 'Pooja Patel', 'Female', datetime.date(1991, 2, 3), '9532382338', 'Kolkata')
(118, 'Kunal Das', 'Male', datetime.date(2004, 4, 16), '9976350959', 'Kolkata')
(119, 'Riya Patel', 'Female', datetime.date(2000, 10, 14), '9797395873', 'Pune')
(120, 'Amit Das', 'Male', datetime.date(1991, 12, 17), '9563283475', 'Lucknow')
(121, 'Sneha Das', 'Female', datetime.date(1994, 12, 20), '9157958972', 'Pune')
(122, 'Isha Patel', 'Female', datetime.date(1991, 8, 29), '9747487249', 'Bengaluru')
(123, 'Isha Mehta', 'Female', datetime.date(2009, 5, 24), '9302568981', 'Bengaluru')
(124, 'Sneha Patel', 'Female', datetime.date(2006, 7, 30), '9109327842', 'Indore')
(125, 'Ankit Reddy', 'Male', datetime.date(1992, 2, 1), '9790579921', 'Kolkata')
(126, 'Pooja Patel', 'Female', datetime.date(1995, 11, 7), '9893356941', 'Bengaluru')
(127, 'Pooja Kumar', 'Female', datetime.date(2005, 5, 12), '9379875433', 'Lucknow')
(128, 'Suresh Mehta', 'Male', datetime.date(1996, 8, 27), '9393895501', 'Jaipur')
(129, 'Kavya Kumar', 'Female', datetime.date(2009, 11, 8), '9774398808', 'Hyderabad')
(130, 'Rahul Singh', 'Male', datetime.date(2003, 6, 29), '9958577654', 'Kolkata')
(131, 'Rohit Verma', 'Male', datetime.date(1995, 6, 25), '9144555045', 'Bengaluru')
(132, 'Vikas Patel', 'Male', datetime.date(2010, 10, 10), '9451650864', 'Lucknow')
(133, 'Ravi Patel', 'Male', datetime.date(2008, 7, 17), '9975377498', 'Mumbai')
(134, 'Ravi Mehta', 'Male', datetime.date(1995, 8, 27), '9411188283', 'Chennai')
(135, 'Ankit Das', 'Male', datetime.date(2009, 9, 30), '9148922353', 'Bengaluru')
(136, 'Aditya Singh', 'Male', datetime.date(1990, 6, 9), '9359436495', 'Delhi')
(137, 'Aarti Iyer', 'Female', datetime.date(2002, 4, 22), '9551688254', 'Delhi')
(138, 'Kunal Reddy', 'Male', datetime.date(1996, 10, 27), '9984088567', 'Pune')
(139, 'Riya Iyer', 'Female', datetime.date(2009, 7, 1), '9974529432', 'Pune')
(140, 'Kavya Singh', 'Female', datetime.date(2006, 2, 1), '9566785135', 'Hyderabad')
(141, 'Isha Kumar', 'Female', datetime.date(1993, 2, 15), '9574434172', 'Indore')
(142, 'Anjali Gupta', 'Female', datetime.date(2008, 5, 18), '9521259432', 'Delhi')
(143, 'Aarti Singh', 'Female', datetime.date(1992, 8, 6), '9756992473', 'Indore')
(144, 'Kavya Kumar', 'Female', datetime.date(1996, 7, 3), '9333387901', 'Mumbai')
(145, 'Suresh Reddy', 'Male', datetime.date(2002, 3, 21), '9541386270', 'Lucknow')
(146, 'Isha Das', 'Female', datetime.date(1995, 10, 20), '9506062194', 'Mumbai')
(147, 'Aarti Kumar', 'Female', datetime.date(1998, 1, 5), '9604237381', 'Lucknow')
(148, 'Ravi Singh', 'Male', datetime.date(2008, 5, 6), '9376121123', 'Jaipur')
(149, 'Kunal Iyer', 'Male', datetime.date(1991, 6, 28), '9580430543', 'Lucknow')
(150, 'Amit Mehta', 'Male', datetime.date(2010, 2, 1), '9244474728', 'Pune')
(151, 'Amit Sharma', 'Male', datetime.date(2006, 7, 15), '9237770112', 'Indore')
(152, 'Isha Kumar', 'Female', datetime.date(1999, 4, 25), '9231198144', 'Indore')
(153, 'Nisha Iyer', 'Female', datetime.date(2005, 4, 14), '9955866785', 'Mumbai')
(154, 'Isha Patel', 'Female', datetime.date(1991, 6, 20), '9614214885', 'Indore')
(155, 'Suresh Verma', 'Male', datetime.date(1993, 11, 21), '9766327859', 'Bengaluru')
(156, 'Vikas Mehta', 'Male', datetime.date(2004, 1, 30), '9968433834', 'Mumbai')
(157, 'Isha Reddy', 'Female', datetime.date(1993, 5, 19), '9276122770', 'Bengaluru')
(158, 'Anjali Patel', 'Female', datetime.date(2010, 4, 4), '9667553173', 'Pune')
(159, 'Rahul Iyer', 'Male', datetime.date(1991, 1, 20), '9537215161', 'Pune')
(160, 'Nisha Mehta', 'Female', datetime.date(2008, 6, 6), '9715671792', 'Bengaluru')
(161, 'Vikas Kumar', 'Male', datetime.date(1996, 4, 27), '9278804756', 'Chennai')
(162, 'Priya Verma', 'Female', datetime.date(2001, 6, 23), '9735675941', 'Kolkata')
(163, 'Rohit Verma', 'Male', datetime.date(1995, 1, 13), '9971759406', 'Kolkata')
(164, 'Anjali Singh', 'Female', datetime.date(2000, 7, 18), '9488209812', 'Jaipur')
(165, 'Pooja Verma', 'Female', datetime.date(2006, 4, 26), '9636698267', 'Lucknow')
(166, 'Rahul Reddy', 'Male', datetime.date(2009, 12, 5), '9988322067', 'Chennai')
(167, 'Pooja Kumar', 'Female', datetime.date(2007, 11, 23), '9767070811', 'Delhi')
(168, 'Aditya Das', 'Male', datetime.date(2001, 11, 9), '9126971062', 'Chennai')
(169, 'Sneha Reddy', 'Female', datetime.date(2004, 10, 30), '9216071752', 'Indore')
(170, 'Isha Reddy', 'Female', datetime.date(1991, 9, 3), '9975498545', 'Lucknow')
(171, 'Aarti Kumar', 'Female', datetime.date(2002, 3, 8), '9355299837', 'Pune')
(172, 'Kunal Iyer', 'Male', datetime.date(1991, 3, 3), '9454459974', 'Kolkata')
(173, 'Sneha Kumar', 'Female', datetime.date(1997, 11, 8), '9221442035', 'Jaipur')
(174, 'Amit Patel', 'Male', datetime.date(2008, 9, 19), '9345813854', 'Pune')
(175, 'Nisha Gupta', 'Female', datetime.date(2003, 6, 7), '9143145997', 'Delhi')
(176, 'Sneha Kumar', 'Female', datetime.date(1999, 3, 24), '9280646048', 'Indore')
(177, 'Vikas Gupta', 'Male', datetime.date(2006, 6, 27), '9973910336', 'Chennai')
(178, 'Nisha Das', 'Female', datetime.date(2008, 1, 11), '9749935854', 'Hyderabad')
(179, 'Vikas Singh', 'Male', datetime.date(2004, 10, 7), '9152531457', 'Lucknow')
(180, 'Arjun Sharma', 'Male', datetime.date(2000, 4, 15), '9213382992', 'Kolkata')
(181, 'Priya Patel', 'Female', datetime.date(1996, 12, 9), '9205971047', 'Delhi')
(182, 'Aarti Singh', 'Female', datetime.date(1990, 5, 2), '9534420909', 'Delhi')
(183, 'Kavya Singh', 'Female', datetime.date(1993, 5, 10), '9163211704', 'Delhi')
(184, 'Amit Iyer', 'Male', datetime.date(2001, 1, 16), '9720251220', 'Chennai')
(185, 'Aarti Verma', 'Female', datetime.date(2005, 6, 25), '9373883802', 'Chennai')
(186, 'Sneha Das', 'Female', datetime.date(1997, 7, 31), '9996902498', 'Hyderabad')
(187, 'Ankit Patel', 'Male', datetime.date(1992, 8, 17), '9516691430', 'Pune')
(188, 'Pooja Das', 'Female', datetime.date(1990, 1, 6), '9605731942', 'Kolkata')
(189, 'Anjali Verma', 'Female', datetime.date(2009, 1, 28), '9340897251', 'Delhi')
(190, 'Isha Kumar', 'Female', datetime.date(2006, 1, 17), '9566338103', 'Lucknow')
(191, 'Isha Kumar', 'Female', datetime.date(2008, 6, 3), '9402700571', 'Lucknow')
(192, 'Amit Gupta', 'Male', datetime.date(2004, 3, 12), '9522682380', 'Pune')
(193, 'Amit Das', 'Male', datetime.date(2006, 5, 9), '9945742088', 'Delhi')
(194, 'Pooja Sharma', 'Female', datetime.date(1994, 6, 11), '9451631251', 'Pune')
(195, 'Isha Verma', 'Female', datetime.date(1990, 5, 20), '9122612205', 'Bengaluru')
(196, 'Vikas Sharma', 'Male', datetime.date(2004, 8, 12), '9181964462', 'Chennai')
(197, 'Anjali Das', 'Female', datetime.date(1994, 1, 2), '9448113505', 'Mumbai')
(198, 'Arjun Singh', 'Male', datetime.date(2002, 12, 14), '9676517769', 'Hyderabad')
(199, 'Rohit Singh', 'Male', datetime.date(2005, 1, 21), '9260234736', 'Chennai')
(200, 'Neha Kumar', 'Female', datetime.date(1994, 1, 13), '9300178523', 'Jaipur')
(201, 'Isha Gupta', 'Female', datetime.date(2009, 1, 10), '9800377808', 'Kolkata')
(202, 'Priya Iyer', 'Female', datetime.date(2004, 12, 14), '9135688868', 'Pune')
(203, 'Pooja Singh', 'Female', datetime.date(1994, 5, 27), '9555053242', 'Jaipur')
(204, 'Aarti Sharma', 'Female', datetime.date(2003, 3, 11), '9803410785', 'Chennai')
(205, 'Aditya Singh', 'Male', datetime.date(2006, 4, 30), '9850899058', 'Chennai')
(206, 'Suresh Kumar', 'Male', datetime.date(2008, 7, 24), '9640778648', 'Mumbai')
(207, 'Pooja Kumar', 'Female', datetime.date(2003, 12, 24), '9778410252', 'Hyderabad')
(208, 'Neha Das', 'Female', datetime.date(2004, 1, 9), '9599963269', 'Hyderabad')
(209, 'Vikas Das', 'Male', datetime.date(2010, 8, 17), '9735909527', 'Kolkata')
(210, 'Amit Sharma', 'Male', datetime.date(2001, 6, 2), '9484137172', 'Jaipur')
(211, 'Aarti Gupta', 'Female', datetime.date(1998, 2, 24), '9384644964', 'Hyderabad')
(212, 'Sneha Das', 'Female', datetime.date(2008, 11, 25), '9697195584', 'Bengaluru')
(213, 'Aditya Singh', 'Male', datetime.date(1998, 5, 19), '9158770382', 'Delhi')
(214, 'Pooja Das', 'Female', datetime.date(2009, 7, 10), '9360852946', 'Indore')
(215, 'Vikas Singh', 'Male', datetime.date(1997, 10, 23), '9389198135', 'Mumbai')
(216, 'Pooja Das', 'Female', datetime.date(1993, 8, 4), '9460941467', 'Bengaluru')
(217, 'Priya Mehta', 'Female', datetime.date(2004, 4, 26), '9694069313', 'Lucknow')
(218, 'Ravi Reddy', 'Male', datetime.date(1997, 2, 24), '9666264454', 'Bengaluru')
(219, 'Kavya Das', 'Female', datetime.date(2000, 4, 6), '9795907656', 'Pune')
(220, 'Sneha Verma', 'Female', datetime.date(1992, 11, 29), '9501338689', 'Chennai')
(221, 'Rahul Kumar', 'Male', datetime.date(2007, 2, 3), '9305221010', 'Kolkata')
(222, 'Pooja Iyer', 'Female', datetime.date(2002, 5, 24), '9838456572', 'Chennai')
(223, 'Isha Iyer', 'Female', datetime.date(1993, 5, 18), '9842053273', 'Hyderabad')
(224, 'Arjun Mehta', 'Male', datetime.date(1995, 8, 9), '9769509570', 'Chennai')
(225, 'Nisha Kumar', 'Female', datetime.date(2010, 3, 3), '9923287247', 'Delhi')
(226, 'Rahul Verma', 'Male', datetime.date(1994, 1, 12), '9695878187', 'Pune')
(227, 'Pooja Mehta', 'Female', datetime.date(1999, 1, 26), '9476553147', 'Delhi')
(228, 'Neha Sharma', 'Female', datetime.date(2008, 3, 6), '9311510845', 'Hyderabad')
(229, 'Anjali Singh', 'Female', datetime.date(2004, 10, 17), '9163238539', 'Lucknow')
(230, 'Suresh Gupta', 'Male', datetime.date(1995, 12, 8), '9860420594', 'Indore')
(231, 'Vikas Patel', 'Male', datetime.date(2000, 10, 4), '9225877396', 'Chennai')
(232, 'Vikas Reddy', 'Male', datetime.date(2010, 3, 20), '9119949716', 'Indore')
(233, 'Ankit Das', 'Male', datetime.date(2009, 1, 12), '9374013624', 'Pune')
(234, 'Isha Singh', 'Female', datetime.date(2001, 11, 28), '9715715027', 'Chennai')
(235, 'Riya Singh', 'Female', datetime.date(2007, 2, 21), '9564635375', 'Mumbai')
(236, 'Pooja Das', 'Female', datetime.date(2002, 10, 7), '9371254889', 'Mumbai')
(237, 'Amit Verma', 'Male', datetime.date(2009, 2, 24), '9908862995', 'Bengaluru')
(238, 'Aarti Sharma', 'Female', datetime.date(2001, 11, 4), '9935683408', 'Indore')
(239, 'Anjali Reddy', 'Female', datetime.date(2002, 5, 11), '9744430070', 'Delhi')
(240, 'Sneha Patel', 'Female', datetime.date(2006, 3, 24), '9307521082', 'Indore')
(241, 'Rahul Sharma', 'Male', datetime.date(1994, 10, 14), '9468625339', 'Mumbai')
(242, 'Ankit Kumar', 'Male', datetime.date(1990, 3, 5), '9690527658', 'Delhi')
(243, 'Pooja Gupta', 'Female', datetime.date(1992, 10, 1), '9608494741', 'Indore')
(244, 'Neha Singh', 'Female', datetime.date(1997, 4, 23), '9452977770', 'Lucknow')

In [13]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="schema_demo"
)

cur = db.cursor()

cur.execute("select * from student limit 1000")

for row in cur:
    print(row)

(1, 'Anjali Mehta', 'Female', datetime.date(2008, 3, 15), '9144072496', 'Indore')
(2, 'Priya Verma', 'Female', datetime.date(1993, 3, 26), '9598775556', 'Chennai')
(3, 'Sneha Gupta', 'Female', datetime.date(1991, 2, 11), '9650243139', 'Lucknow')
(4, 'Aarti Kumar', 'Female', datetime.date(1998, 10, 18), '9706186124', 'Lucknow')
(5, 'Sneha Das', 'Female', datetime.date(2001, 1, 22), '9470922138', 'Chennai')
(6, 'Aditya Singh', 'Male', datetime.date(2007, 8, 24), '9839730146', 'Kolkata')
(7, 'Ankit Patel', 'Male', datetime.date(2005, 9, 8), '9858431264', 'Indore')
(8, 'Aarti Kumar', 'Female', datetime.date(2005, 9, 10), '9468566279', 'Mumbai')
(9, 'Amit Gupta', 'Male', datetime.date(1997, 8, 17), '9177800893', 'Jaipur')
(10, 'Sneha Sharma', 'Female', datetime.date(1998, 7, 26), '9224095566', 'Mumbai')
(11, 'Nisha Das', 'Female', datetime.date(2009, 8, 14), '9550267577', 'Jaipur')
(12, 'Sneha Singh', 'Female', datetime.date(2008, 11, 10), '9238280273', 'Chennai')
(13, 'Neha Das', 'Female', datetime.date(1998, 8, 2), '9657293696', 'Bengaluru')
(14, 'Amit Kumar', 'Male', datetime.date(2007, 4, 23), '9793394708', 'Indore')
(15, 'Vikas Reddy', 'Male', datetime.date(2001, 6, 12), '9323626475', 'Pune')
(16, 'Ankit Singh', 'Male', datetime.date(2003, 3, 28), '9973322356', 'Hyderabad')
(17, 'Pooja Mehta', 'Female', datetime.date(1996, 3, 6), '9843834633', 'Pune')
(18, 'Pooja Mehta', 'Female', datetime.date(2005, 9, 9), '9821014076', 'Indore')
(19, 'Kavya Sharma', 'Female', datetime.date(2006, 2, 21), '9489196400', 'Lucknow')
(20, 'Aditya Iyer', 'Male', datetime.date(2001, 1, 21), '9213750673', 'Bengaluru')
(21, 'Vikas Sharma', 'Male', datetime.date(1994, 8, 24), '9120196892', 'Delhi')
(22, 'Vikas Das', 'Male', datetime.date(2010, 10, 24), '9707079880', 'Mumbai')
(23, 'Priya Mehta', 'Female', datetime.date(1991, 7, 3), '9394257570', 'Kolkata')
(24, 'Pooja Sharma', 'Female', datetime.date(2007, 3, 7), '9684320600', 'Kolkata')
(25, 'Rohit Sharma', 'Male', datetime.date(2010, 2, 24), '9347301708', 'Pune')
(26, 'Anjali Mehta', 'Female', datetime.date(1998, 12, 15), '9286386774', 'Pune')
(27, 'Aditya Reddy', 'Male', datetime.date(2006, 7, 6), '9821486566', 'Indore')
(28, 'Pooja Das', 'Female', datetime.date(2004, 7, 23), '9101102821', 'Kolkata')
(29, 'Suresh Das', 'Male', datetime.date(1996, 11, 21), '9241884054', 'Lucknow')
(30, 'Riya Verma', 'Female', datetime.date(2009, 2, 26), '9726777032', 'Pune')
(31, 'Ankit Iyer', 'Male', datetime.date(2004, 2, 4), '9302774240', 'Jaipur')
(32, 'Amit Das', 'Male', datetime.date(1991, 5, 23), '9121598463', 'Chennai')
(33, 'Rohit Verma', 'Male', datetime.date(1999, 12, 19), '9371944255', 'Jaipur')
(34, 'Suresh Kumar', 'Male', datetime.date(2000, 6, 7), '9884886925', 'Hyderabad')
(35, 'Ravi Verma', 'Male', datetime.date(1997, 4, 21), '9430840044', 'Lucknow')
(36, 'Arjun Singh', 'Male', datetime.date(1994, 6, 26), '9635329404', 'Mumbai')
(37, 'Suresh Kumar', 'Male', datetime.date(1991, 6, 3), '9898019277', 'Mumbai')
(38, 'Riya Sharma', 'Female', datetime.date(2005, 9, 1), '9696394657', 'Lucknow')
(39, 'Neha Singh', 'Female', datetime.date(2007, 12, 24), '9471934385', 'Chennai')
(40, 'Nisha Verma', 'Female', datetime.date(1995, 3, 30), '9198358558', 'Bengaluru')
(41, 'Kunal Patel', 'Male', datetime.date(2004, 3, 2), '9119980363', 'Mumbai')
(42, 'Anjali Iyer', 'Female', datetime.date(1998, 2, 7), '9335967153', 'Pune')
(43, 'Anjali Patel', 'Female', datetime.date(1996, 4, 27), '9447228696', 'Chennai')
(44, 'Kunal Kumar', 'Male', datetime.date(1998, 1, 12), '9663785008', 'Jaipur')
(45, 'Amit Mehta', 'Male', datetime.date(1997, 8, 26), '9915483959', 'Lucknow')
(46, 'Priya Reddy', 'Female', datetime.date(1996, 9, 7), '9909369255', 'Hyderabad')
(47, 'Ravi Mehta', 'Male', datetime.date(1999, 9, 1), '9982062228', 'Pune')
(48, 'Amit Iyer', 'Male', datetime.date(1995, 4, 11), '9106149347', 'Chennai')
(49, 'Kavya Das', 'Female', datetime.date(2000, 3, 17), '9638560814', 'Mumbai')
(50, 'Aarti Reddy', 'Female', datetime.date(2006, 12, 13), '9974896488', 'Lucknow')
(51, 'Nisha Kumar', 'Female', datetime.date(2010, 11, 3), '9760374665', 'Lucknow')
(52, 'Aditya Iyer', 'Male', datetime.date(2005, 4, 7), '9244290032', 'Delhi')
(53, 'Suresh Iyer', 'Male', datetime.date(1992, 2, 12), '9220632239', 'Lucknow')
(54, 'Riya Kumar', 'Female', datetime.date(1990, 3, 30), '9665018994', 'Mumbai')
(55, 'Isha Singh', 'Female', datetime.date(2010, 5, 9), '9517902838', 'Indore')
(56, 'Priya Reddy', 'Female', datetime.date(2007, 7, 18), '9733327254', 'Lucknow')
(57, 'Aditya Das', 'Male', datetime.date(1997, 4, 21), '9869557747', 'Indore')
(58, 'Rahul Sharma', 'Male', datetime.date(2000, 2, 5), '9177538509', 'Indore')
(59, 'Rohit Mehta', 'Male', datetime.date(1993, 7, 19), '9808127456', 'Jaipur')
(60, 'Nisha Sharma', 'Female', datetime.date(2001, 7, 27), '9257091157', 'Kolkata')
(61, 'Nisha Mehta', 'Female', datetime.date(2009, 7, 23), '9685247596', 'Jaipur')
(62, 'Aarti Singh', 'Female', datetime.date(2003, 7, 23), '9675615554', 'Jaipur')
(63, 'Neha Iyer', 'Female', datetime.date(1993, 3, 4), '9391785262', 'Lucknow')
(64, 'Pooja Gupta', 'Female', datetime.date(2005, 1, 15), '9702319815', 'Chennai')
(65, 'Nisha Mehta', 'Female', datetime.date(1993, 5, 9), '9241064817', 'Chennai')
(66, 'Ravi Iyer', 'Male', datetime.date(1996, 2, 13), '9282669138', 'Bengaluru')
(67, 'Riya Patel', 'Female', datetime.date(2005, 2, 13), '9226768125', 'Delhi')
(68, 'Vikas Mehta', 'Male', datetime.date(2007, 7, 25), '9595749591', 'Kolkata')
(69, 'Anjali Das', 'Female', datetime.date(2003, 8, 13), '9359197205', 'Kolkata')
(70, 'Priya Verma', 'Female', datetime.date(2006, 5, 3), '9252569729', 'Jaipur')
(71, 'Ankit Das', 'Male', datetime.date(1998, 5, 7), '9534798777', 'Delhi')
(72, 'Rahul Iyer', 'Male', datetime.date(1999, 3, 5), '9800432919', 'Lucknow')
(73, 'Amit Sharma', 'Male', datetime.date(2002, 3, 5), '9108430034', 'Pune')
(74, 'Riya Das', 'Female', datetime.date(2001, 1, 25), '9438194160', 'Jaipur')
(75, 'Anjali Reddy', 'Female', datetime.date(1995, 6, 3), '9467691492', 'Mumbai')
(76, 'Isha Kumar', 'Female', datetime.date(2007, 4, 12), '9786073602', 'Mumbai')
(77, 'Sneha Singh', 'Female', datetime.date(1995, 1, 27), '9363056990', 'Bengaluru')
(78, 'Priya Mehta', 'Female', datetime.date(2005, 7, 12), '9356900511', 'Lucknow')
(79, 'Suresh Verma', 'Male', datetime.date(2005, 10, 23), '9818996248', 'Pune')
(80, 'Ravi Reddy', 'Male', datetime.date(1997, 4, 2), '9694295543', 'Indore')
(81, 'Neha Sharma', 'Female', datetime.date(1993, 10, 21), '9441353685', 'Delhi')
(82, 'Riya Mehta', 'Female', datetime.date(2004, 5, 21), '9926821120', 'Pune')
(83, 'Isha Kumar', 'Female', datetime.date(2002, 5, 31), '9527617568', 'Delhi')
(84, 'Rahul Verma', 'Male', datetime.date(2006, 3, 1), '9850170765', 'Delhi')
(85, 'Rohit Patel', 'Male', datetime.date(2005, 2, 12), '9266339733', 'Bengaluru')
(86, 'Pooja Reddy', 'Female', datetime.date(2000, 6, 14), '9472352613', 'Lucknow')
(87, 'Rohit Gupta', 'Male', datetime.date(2002, 11, 19), '9938167930', 'Hyderabad')
(88, 'Pooja Das', 'Female', datetime.date(2003, 8, 14), '9155874611', 'Kolkata')
(89, 'Priya Das', 'Female', datetime.date(1995, 11, 13), '9225366403', 'Bengaluru')
(90, 'Priya Reddy', 'Female', datetime.date(1994, 4, 20), '9570864386', 'Kolkata')
(91, 'Amit Patel', 'Male', datetime.date(2003, 10, 17), '9141945594', 'Lucknow')
(92, 'Rohit Patel', 'Male', datetime.date(1991, 1, 4), '9528430524', 'Lucknow')
(93, 'Kunal Mehta', 'Male', datetime.date(1991, 6, 7), '9888536717', 'Pune')
(94, 'Priya Patel', 'Female', datetime.date(2008, 9, 24), '9682806343', 'Hyderabad')
(95, 'Amit Das', 'Male', datetime.date(2004, 9, 26), '9609267786', 'Indore')
(96, 'Isha Iyer', 'Female', datetime.date(2001, 4, 9), '9442683110', 'Bengaluru')
(97, 'Isha Reddy', 'Female', datetime.date(1999, 3, 14), '9139371658', 'Mumbai')
(98, 'Anjali Das', 'Female', datetime.date(2008, 10, 1), '9383175490', 'Indore')
(99, 'Anjali Singh', 'Female', datetime.date(2002, 3, 27), '9285160572', 'Lucknow')
(100, 'Kunal Das', 'Male', datetime.date(2008, 11, 9), '9826819369', 'Bengaluru')
(101, 'Nisha Verma', 'Female', datetime.date(2001, 7, 4), '9931008575', 'Chennai')
(102, 'Ravi Gupta', 'Male', datetime.date(2000, 3, 8), '9449911338', 'Kolkata')
(103, 'Vikas Verma', 'Male', datetime.date(2009, 10, 28), '9416876787', 'Bengaluru')
(104, 'Suresh Mehta', 'Male', datetime.date(2000, 3, 30), '9120455364', 'Jaipur')
(105, 'Vikas Iyer', 'Male', datetime.date(2001, 8, 6), '9581816334', 'Lucknow')
(106, 'Isha Sharma', 'Female', datetime.date(2006, 10, 7), '9763359685', 'Hyderabad')
(107, 'Arjun Verma', 'Male', datetime.date(2003, 12, 15), '9435260433', 'Delhi')
(108, 'Neha Singh', 'Female', datetime.date(1990, 11, 10), '9440640508', 'Mumbai')
(109, 'Rohit Mehta', 'Male', datetime.date(1999, 12, 9), '9659391796', 'Delhi')
(110, 'Priya Patel', 'Female', datetime.date(2007, 6, 21), '9939220782', 'Indore')
(111, 'Ankit Verma', 'Male', datetime.date(2004, 6, 13), '9838490243', 'Mumbai')
(112, 'Ankit Verma', 'Male', datetime.date(2006, 7, 17), '9135365812', 'Lucknow')
(113, 'Suresh Singh', 'Male', datetime.date(2010, 8, 24), '9171600518', 'Pune')
(114, 'Aarti Iyer', 'Female', datetime.date(1999, 10, 13), '9496148215', 'Delhi')
(115, 'Kunal Sharma', 'Male', datetime.date(2005, 7, 17), '9718289189', 'Lucknow')
(116, 'Kavya Kumar', 'Female', datetime.date(2003, 7, 26), '9638651069', 'Chennai')
(117, 'Pooja Patel', 'Female', datetime.date(1991, 2, 3), '9532382338', 'Kolkata')
(118, 'Kunal Das', 'Male', datetime.date(2004, 4, 16), '9976350959', 'Kolkata')
(119, 'Riya Patel', 'Female', datetime.date(2000, 10, 14), '9797395873', 'Pune')
(120, 'Amit Das', 'Male', datetime.date(1991, 12, 17), '9563283475', 'Lucknow')
(121, 'Sneha Das', 'Female', datetime.date(1994, 12, 20), '9157958972', 'Pune')
(122, 'Isha Patel', 'Female', datetime.date(1991, 8, 29), '9747487249', 'Bengaluru')
(123, 'Isha Mehta', 'Female', datetime.date(2009, 5, 24), '9302568981', 'Bengaluru')
(124, 'Sneha Patel', 'Female', datetime.date(2006, 7, 30), '9109327842', 'Indore')
(125, 'Ankit Reddy', 'Male', datetime.date(1992, 2, 1), '9790579921', 'Kolkata')
(126, 'Pooja Patel', 'Female', datetime.date(1995, 11, 7), '9893356941', 'Bengaluru')
(127, 'Pooja Kumar', 'Female', datetime.date(2005, 5, 12), '9379875433', 'Lucknow')
(128, 'Suresh Mehta', 'Male', datetime.date(1996, 8, 27), '9393895501', 'Jaipur')
(129, 'Kavya Kumar', 'Female', datetime.date(2009, 11, 8), '9774398808', 'Hyderabad')
(130, 'Rahul Singh', 'Male', datetime.date(2003, 6, 29), '9958577654', 'Kolkata')
(131, 'Rohit Verma', 'Male', datetime.date(1995, 6, 25), '9144555045', 'Bengaluru')
(132, 'Vikas Patel', 'Male', datetime.date(2010, 10, 10), '9451650864', 'Lucknow')
(133, 'Ravi Patel', 'Male', datetime.date(2008, 7, 17), '9975377498', 'Mumbai')
(134, 'Ravi Mehta', 'Male', datetime.date(1995, 8, 27), '9411188283', 'Chennai')
(135, 'Ankit Das', 'Male', datetime.date(2009, 9, 30), '9148922353', 'Bengaluru')
(136, 'Aditya Singh', 'Male', datetime.date(1990, 6, 9), '9359436495', 'Delhi')
(137, 'Aarti Iyer', 'Female', datetime.date(2002, 4, 22), '9551688254', 'Delhi')
(138, 'Kunal Reddy', 'Male', datetime.date(1996, 10, 27), '9984088567', 'Pune')
(139, 'Riya Iyer', 'Female', datetime.date(2009, 7, 1), '9974529432', 'Pune')
(140, 'Kavya Singh', 'Female', datetime.date(2006, 2, 1), '9566785135', 'Hyderabad')
(141, 'Isha Kumar', 'Female', datetime.date(1993, 2, 15), '9574434172', 'Indore')
(142, 'Anjali Gupta', 'Female', datetime.date(2008, 5, 18), '9521259432', 'Delhi')
(143, 'Aarti Singh', 'Female', datetime.date(1992, 8, 6), '9756992473', 'Indore')
(144, 'Kavya Kumar', 'Female', datetime.date(1996, 7, 3), '9333387901', 'Mumbai')
(145, 'Suresh Reddy', 'Male', datetime.date(2002, 3, 21), '9541386270', 'Lucknow')
(146, 'Isha Das', 'Female', datetime.date(1995, 10, 20), '9506062194', 'Mumbai')
(147, 'Aarti Kumar', 'Female', datetime.date(1998, 1, 5), '9604237381', 'Lucknow')
(148, 'Ravi Singh', 'Male', datetime.date(2008, 5, 6), '9376121123', 'Jaipur')
(149, 'Kunal Iyer', 'Male', datetime.date(1991, 6, 28), '9580430543', 'Lucknow')
(150, 'Amit Mehta', 'Male', datetime.date(2010, 2, 1), '9244474728', 'Pune')
(151, 'Amit Sharma', 'Male', datetime.date(2006, 7, 15), '9237770112', 'Indore')
(152, 'Isha Kumar', 'Female', datetime.date(1999, 4, 25), '9231198144', 'Indore')
(153, 'Nisha Iyer', 'Female', datetime.date(2005, 4, 14), '9955866785', 'Mumbai')
(154, 'Isha Patel', 'Female', datetime.date(1991, 6, 20), '9614214885', 'Indore')
(155, 'Suresh Verma', 'Male', datetime.date(1993, 11, 21), '9766327859', 'Bengaluru')
(156, 'Vikas Mehta', 'Male', datetime.date(2004, 1, 30), '9968433834', 'Mumbai')
(157, 'Isha Reddy', 'Female', datetime.date(1993, 5, 19), '9276122770', 'Bengaluru')
(158, 'Anjali Patel', 'Female', datetime.date(2010, 4, 4), '9667553173', 'Pune')
(159, 'Rahul Iyer', 'Male', datetime.date(1991, 1, 20), '9537215161', 'Pune')
(160, 'Nisha Mehta', 'Female', datetime.date(2008, 6, 6), '9715671792', 'Bengaluru')
(161, 'Vikas Kumar', 'Male', datetime.date(1996, 4, 27), '9278804756', 'Chennai')
(162, 'Priya Verma', 'Female', datetime.date(2001, 6, 23), '9735675941', 'Kolkata')
(163, 'Rohit Verma', 'Male', datetime.date(1995, 1, 13), '9971759406', 'Kolkata')
(164, 'Anjali Singh', 'Female', datetime.date(2000, 7, 18), '9488209812', 'Jaipur')
(165, 'Pooja Verma', 'Female', datetime.date(2006, 4, 26), '9636698267', 'Lucknow')
(166, 'Rahul Reddy', 'Male', datetime.date(2009, 12, 5), '9988322067', 'Chennai')
(167, 'Pooja Kumar', 'Female', datetime.date(2007, 11, 23), '9767070811', 'Delhi')
(168, 'Aditya Das', 'Male', datetime.date(2001, 11, 9), '9126971062', 'Chennai')
(169, 'Sneha Reddy', 'Female', datetime.date(2004, 10, 30), '9216071752', 'Indore')
(170, 'Isha Reddy', 'Female', datetime.date(1991, 9, 3), '9975498545', 'Lucknow')
(171, 'Aarti Kumar', 'Female', datetime.date(2002, 3, 8), '9355299837', 'Pune')
(172, 'Kunal Iyer', 'Male', datetime.date(1991, 3, 3), '9454459974', 'Kolkata')
(173, 'Sneha Kumar', 'Female', datetime.date(1997, 11, 8), '9221442035', 'Jaipur')
(174, 'Amit Patel', 'Male', datetime.date(2008, 9, 19), '9345813854', 'Pune')
(175, 'Nisha Gupta', 'Female', datetime.date(2003, 6, 7), '9143145997', 'Delhi')
(176, 'Sneha Kumar', 'Female', datetime.date(1999, 3, 24), '9280646048', 'Indore')
(177, 'Vikas Gupta', 'Male', datetime.date(2006, 6, 27), '9973910336', 'Chennai')
(178, 'Nisha Das', 'Female', datetime.date(2008, 1, 11), '9749935854', 'Hyderabad')
(179, 'Vikas Singh', 'Male', datetime.date(2004, 10, 7), '9152531457', 'Lucknow')
(180, 'Arjun Sharma', 'Male', datetime.date(2000, 4, 15), '9213382992', 'Kolkata')
(181, 'Priya Patel', 'Female', datetime.date(1996, 12, 9), '9205971047', 'Delhi')
(182, 'Aarti Singh', 'Female', datetime.date(1990, 5, 2), '9534420909', 'Delhi')
(183, 'Kavya Singh', 'Female', datetime.date(1993, 5, 10), '9163211704', 'Delhi')
(184, 'Amit Iyer', 'Male', datetime.date(2001, 1, 16), '9720251220', 'Chennai')
(185, 'Aarti Verma', 'Female', datetime.date(2005, 6, 25), '9373883802', 'Chennai')
(186, 'Sneha Das', 'Female', datetime.date(1997, 7, 31), '9996902498', 'Hyderabad')
(187, 'Ankit Patel', 'Male', datetime.date(1992, 8, 17), '9516691430', 'Pune')
(188, 'Pooja Das', 'Female', datetime.date(1990, 1, 6), '9605731942', 'Kolkata')
(189, 'Anjali Verma', 'Female', datetime.date(2009, 1, 28), '9340897251', 'Delhi')
(190, 'Isha Kumar', 'Female', datetime.date(2006, 1, 17), '9566338103', 'Lucknow')
(191, 'Isha Kumar', 'Female', datetime.date(2008, 6, 3), '9402700571', 'Lucknow')
(192, 'Amit Gupta', 'Male', datetime.date(2004, 3, 12), '9522682380', 'Pune')
(193, 'Amit Das', 'Male', datetime.date(2006, 5, 9), '9945742088', 'Delhi')
(194, 'Pooja Sharma', 'Female', datetime.date(1994, 6, 11), '9451631251', 'Pune')
(195, 'Isha Verma', 'Female', datetime.date(1990, 5, 20), '9122612205', 'Bengaluru')
(196, 'Vikas Sharma', 'Male', datetime.date(2004, 8, 12), '9181964462', 'Chennai')
(197, 'Anjali Das', 'Female', datetime.date(1994, 1, 2), '9448113505', 'Mumbai')
(198, 'Arjun Singh', 'Male', datetime.date(2002, 12, 14), '9676517769', 'Hyderabad')
(199, 'Rohit Singh', 'Male', datetime.date(2005, 1, 21), '9260234736', 'Chennai')
(200, 'Neha Kumar', 'Female', datetime.date(1994, 1, 13), '9300178523', 'Jaipur')
(201, 'Isha Gupta', 'Female', datetime.date(2009, 1, 10), '9800377808', 'Kolkata')
(202, 'Priya Iyer', 'Female', datetime.date(2004, 12, 14), '9135688868', 'Pune')
(203, 'Pooja Singh', 'Female', datetime.date(1994, 5, 27), '9555053242', 'Jaipur')
(204, 'Aarti Sharma', 'Female', datetime.date(2003, 3, 11), '9803410785', 'Chennai')
(205, 'Aditya Singh', 'Male', datetime.date(2006, 4, 30), '9850899058', 'Chennai')
(206, 'Suresh Kumar', 'Male', datetime.date(2008, 7, 24), '9640778648', 'Mumbai')
(207, 'Pooja Kumar', 'Female', datetime.date(2003, 12, 24), '9778410252', 'Hyderabad')
(208, 'Neha Das', 'Female', datetime.date(2004, 1, 9), '9599963269', 'Hyderabad')
(209, 'Vikas Das', 'Male', datetime.date(2010, 8, 17), '9735909527', 'Kolkata')
(210, 'Amit Sharma', 'Male', datetime.date(2001, 6, 2), '9484137172', 'Jaipur')
(211, 'Aarti Gupta', 'Female', datetime.date(1998, 2, 24), '9384644964', 'Hyderabad')
(212, 'Sneha Das', 'Female', datetime.date(2008, 11, 25), '9697195584', 'Bengaluru')
(213, 'Aditya Singh', 'Male', datetime.date(1998, 5, 19), '9158770382', 'Delhi')
(214, 'Pooja Das', 'Female', datetime.date(2009, 7, 10), '9360852946', 'Indore')
(215, 'Vikas Singh', 'Male', datetime.date(1997, 10, 23), '9389198135', 'Mumbai')
(216, 'Pooja Das', 'Female', datetime.date(1993, 8, 4), '9460941467', 'Bengaluru')
(217, 'Priya Mehta', 'Female', datetime.date(2004, 4, 26), '9694069313', 'Lucknow')
(218, 'Ravi Reddy', 'Male', datetime.date(1997, 2, 24), '9666264454', 'Bengaluru')
(219, 'Kavya Das', 'Female', datetime.date(2000, 4, 6), '9795907656', 'Pune')
(220, 'Sneha Verma', 'Female', datetime.date(1992, 11, 29), '9501338689', 'Chennai')
(221, 'Rahul Kumar', 'Male', datetime.date(2007, 2, 3), '9305221010', 'Kolkata')
(222, 'Pooja Iyer', 'Female', datetime.date(2002, 5, 24), '9838456572', 'Chennai')
(223, 'Isha Iyer', 'Female', datetime.date(1993, 5, 18), '9842053273', 'Hyderabad')
(224, 'Arjun Mehta', 'Male', datetime.date(1995, 8, 9), '9769509570', 'Chennai')
(225, 'Nisha Kumar', 'Female', datetime.date(2010, 3, 3), '9923287247', 'Delhi')
(226, 'Rahul Verma', 'Male', datetime.date(1994, 1, 12), '9695878187', 'Pune')
(227, 'Pooja Mehta', 'Female', datetime.date(1999, 1, 26), '9476553147', 'Delhi')
(228, 'Neha Sharma', 'Female', datetime.date(2008, 3, 6), '9311510845', 'Hyderabad')
(229, 'Anjali Singh', 'Female', datetime.date(2004, 10, 17), '9163238539', 'Lucknow')
(230, 'Suresh Gupta', 'Male', datetime.date(1995, 12, 8), '9860420594', 'Indore')
(231, 'Vikas Patel', 'Male', datetime.date(2000, 10, 4), '9225877396', 'Chennai')
(232, 'Vikas Reddy', 'Male', datetime.date(2010, 3, 20), '9119949716', 'Indore')
(233, 'Ankit Das', 'Male', datetime.date(2009, 1, 12), '9374013624', 'Pune')
(234, 'Isha Singh', 'Female', datetime.date(2001, 11, 28), '9715715027', 'Chennai')
(235, 'Riya Singh', 'Female', datetime.date(2007, 2, 21), '9564635375', 'Mumbai')
(236, 'Pooja Das', 'Female', datetime.date(2002, 10, 7), '9371254889', 'Mumbai')
(237, 'Amit Verma', 'Male', datetime.date(2009, 2, 24), '9908862995', 'Bengaluru')
(238, 'Aarti Sharma', 'Female', datetime.date(2001, 11, 4), '9935683408', 'Indore')
(239, 'Anjali Reddy', 'Female', datetime.date(2002, 5, 11), '9744430070', 'Delhi')
(240, 'Sneha Patel', 'Female', datetime.date(2006, 3, 24), '9307521082', 'Indore')
(241, 'Rahul Sharma', 'Male', datetime.date(1994, 10, 14), '9468625339', 'Mumbai')
(242, 'Ankit Kumar', 'Male', datetime.date(1990, 3, 5), '9690527658', 'Delhi')
(243, 'Pooja Gupta', 'Female', datetime.date(1992, 10, 1), '9608494741', 'Indore')
(244, 'Neha Singh', 'Female', datetime.date(1997, 4, 23), '9452977770', 'Lucknow')

In [14]:
import mysql.connector
import pandas as pd

# connect to mysql
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="schema_demo"
)

# read 100 records into dataframe
df = pd.read_sql("select * from student limit 1000", db)

# save as csv
df.to_csv("student_1000_records.csv", index=False)

print("CSV file created: student_100_records.csv")

CSV file created: student_100_records.csv

/tmp/ipython-input-3128620220.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from student limit 1000", db)

In [15]:
!apt-get install graphviz
!pip install graphviz

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
graphviz is already the newest version (2.42.2-6ubuntu0.1).
0 upgraded, 0 newly installed, 0 to remove and 51 not upgraded.
Requirement already satisfied: graphviz in /usr/local/lib/python3.12/dist-packages (0.21)

In [16]:
from graphviz import Digraph

erd = Digraph("ERD", format="png")
erd.attr(rankdir="LR", bgcolor="#EFE6FF")

# =======================
# CONCEPTUAL ERD
# =======================
with erd.subgraph(name="cluster_conceptual") as c:
    c.attr(label="Conceptual ERD", style="filled", color="#D6C8FF")
    c.node("Student_C", "STUDENT", shape="rectangle", style="filled", fillcolor="#6EC6C6")

# =======================
# LOGICAL ERD
# =======================
with erd.subgraph(name="cluster_logical") as l:
    l.attr(label="Logical ERD", style="filled", color="#D6C8FF")

    l.node(
        "Student_L",
        "STUDENT",
        shape="rectangle",
        style="filled",
        fillcolor="#6EC6C6"
    )

    # Attributes
    l.node("student_id", "student_id", shape="ellipse")
    l.node("name", "name", shape="ellipse")
    l.node("gender", "gender", shape="ellipse")
    l.node("dob", "dob", shape="ellipse")
    l.node("phone", "phone", shape="ellipse")
    l.node("city", "city", shape="ellipse")
    # Connections
    l.edge("Student_L", "student_id")
    l.edge("Student_L", "name")
    l.edge("Student_L", "gender")
    l.edge("Student_L", "dob")
    l.edge("Student_L", "phone")
    l.edge("Student_L", "city")

# =======================
# PHYSICAL ERD
# =======================
with erd.subgraph(name="cluster_physical") as p:
    p.attr(label="Physical ERD", style="filled", color="#D6C8FF")

    p.node(
        "Student_P",
        '''<

            student
            student_id INT PRIMARY KEY
            name VARCHAR(100) NOT NULL
            gender VARCHAR(10)
            dob DATE
            phone VARCHAR(15) UNIQUE
            city VARCHAR(50)

        >'''
    )

erd